#categories_block_top {
  clear: both;
  position: relative;
  top: 30px; }
  #categories_block_top .sf-menu {
    position: relative; }
    #categories_block_top .sf-menu > li {
      position: static; }
      #categories_block_top .sf-menu > li > ul {
        width: 100%;
        top: 60px;
        margin: 0 20px; }
        #categories_block_top .sf-menu > li > ul > li {
          display: block;
          float: left;
          width: 20%;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          padding: 0 10px; }
        #categories_block_top .sf-menu > li > ul > .category_thumb {
          display: block;
          clear: both;
          overflow: hidden;
          width: 100%; }
          #categories_block_top .sf-menu > li > ul > .category_thumb img {
            display: inline-block;
            width: 33%; }
      #categories_block_top .sf-menu > li h4 a {
        font-size: 1.1em; }
        #categories_block_top .sf-menu > li h4 a:before {
          display: none; }
      #categories_block_top .sf-menu > li .main-level-submenus {
        position: relative;
        display: block !important;
        visibility: visible !important;
        top: 0;
        background: none;
        box-shadow: none;
        padding: 0;
        left: 0; }
    #categories_block_top .sf-menu .category_thumb {
      display: none; }

#categories_block_left li {
  position: relative; }
  #categories_block_left li a {
    text-decoration: none;
    font-size: 18px;
    line-height: 30px;
    font-weight: normal;
    text-transform: uppercase;
    font-family: 'pathway';
    color: #777;
    padding: 0;
    display: block;
    cursor: pointer;
    background: url('bg-vetical.png') repeat-x center;
}
#categories_block_left li a:hover{color: #6cbfce;}
#categories_block_left li a span{
  display: inline-block;
  padding: 3px;
  background: #f1f1f1;  
}

  #categories_block_left li span.grower {
    color: #777;
    display: block;
    height: 15px;
    padding: 0;
    width: 15px;
    border: 0;   
    background: #e9e9e9;
    padding: 12px;
    position: absolute;
    right: -2px;
    top: 7px;
    cursor: pointer;
  }
    #categories_block_left li span.grower.CLOSE{
      background: #f1f1f1 url(menu_down.png) no-repeat 50% 50%;
    }
    #categories_block_left li span.grower.OPEN{
     background: #f1f1f1 url(menu_up.png) no-repeat 50% 50%; 
    }

  #categories_block_left li li a {
    font-weight: normal;
    color: #777; }
.sub_tree{padding-left: 15px;}